
documentation/.DS_Store
documentation/development/final_build1.jpeg
documentation/development/final_build10.jpeg
documentation/development/final_build11.jpeg
documentation/development/final_build12.jpeg
documentation/development/final_build13.jpeg
documentation/development/final_build14.jpeg
documentation/development/final_build15.jpeg
documentation/development/final_build16.jpeg
documentation/development/final_build17.jpeg
documentation/development/final_build18.jpeg
documentation/development/final_build19.jpeg
documentation/development/final_build2.jpeg
documentation/development/final_build3.jpeg
documentation/development/final_build4.jpeg
documentation/development/final_build5.jpeg
documentation/development/final_build6.jpeg
documentation/development/final_build7.jpeg
documentation/development/final_build8.jpeg
documentation/development/final_build9.jpeg
documentation/development/parts.jpeg
documentation/development/parts_dog.jpeg
documentation/development/stage1_1.jpeg
documentation/development/stage1_2.jpeg
documentation/development/stage1_3.jpeg
documentation/development/stage1_4.jpeg
documentation/development/stage2_1.jpeg
documentation/development/stage2_2.jpeg
documentation/development/stage2_3.jpeg
documentation/development/stage2_4.jpeg
documentation/development/stage3_1.jpeg
documentation/development/stage3_2.jpeg
documentation/IMG_0150.mov
documentation/IMG_0151.mov
documentation/IMG_0221.mov
documentation/IMG_0223.mov
documentation/IMG_0224.mov
documentation/IMG_0681.mov
documentation/IMG_0882.mov
documentation/IMG_0884.mov
documentation/IMG_0885.mov
documentation/IMG_0895.mov
documentation/IMG_0903.mov
documentation/IMG_0904.mov
documentation/IMG_0905.mov
documentation/IMG_0963.mov
documentation/IMG_1483.mov
documentation/IMG_1484.mov
documentation/IMG_1485.mov
documentation/IMG_1486.mov
documentation/IMG_1490.mov
documentation/IMG_1491.mov
documentation/IMG_1492.mov
documentation/IMG_1493.mov
documentation/IMG_1546 (1).mov
documentation/IMG_1546.mov
documentation/IMG_1548.mov
documentation/IMG_1555.mov
documentation/IMG_1556.mov
documentation/IMG_1557.mov
documentation/IMG_1558.mov
documentation/IMG_1559.mov
documentation/IMG_1560.mov
documentation/IMG_1574.mov
documentation/IMG_1575.mov
documentation/IMG_1625.mov
documentation/IMG_1629.mov
documentation/IMG_1632.mov
documentation/large/robot_portraits1.jpg
documentation/large/robot_portraits2.jpg
documentation/large/robot_portraits3.jpg
documentation/large/robots_dslr-1.jpg
documentation/large/robots_dslr-2.jpg
documentation/large/robots_dslr-3.jpg
documentation/large/robots_dslr-4.jpg
documentation/large/robots_dslr-5.jpg
documentation/large/robots_dslr-6.jpg
documentation/large/robots_dslr-7.jpg
documentation/musoBots shed.m4v
documentation/musoBots Teaser.m4v
documentation/musoTest_1.6.21.mov
documentation/musoTest_1.6.21.mp4
documentation/robot_portraits1.jpg
documentation/robot_portraits2.jpg
documentation/robot_portraits3.jpg
documentation/robots_dslr-1.jpg
documentation/robots_dslr-2.jpg
documentation/robots_dslr-3.jpg
documentation/robots_dslr-4.jpg
documentation/robots_dslr-5.jpg
documentation/robots_dslr-6.jpg
documentation/robots_dslr-7.jpg
old_pdpatches/.DS_Store
old_pdpatches/_main_old.pd
old_pdpatches/_main_rc.pd
old_pdpatches/_main_v1.pd
old_pdpatches/_main_volumectrl.pd
old_pdpatches/bela_debounce.pd
old_pdpatches/bela_output.pd
old_pdpatches/bonk_control.pd
old_pdpatches/controls_only.pd
old_pdpatches/direction_pulse.pd
old_pdpatches/keytoggle.pd
old_pdpatches/pitch_direction_v1.pd
old_pdpatches/pitch_direction_v2.pd
old_pdpatches/volume_control_v1.pd
build/.DS_Store
build/wheel_base.ai
build/wheel_holder.svg
